@using Copyleaks.SDK.V3.API.Models.Types;
@model Copyleaks.SDK.Demo.Models.Responses.SubmitResponse
@{
    ViewData["Title"] = "Copyleaks API Demo - Step 2 - Submit a scan";
}

<div class="row">
    <div class="col-xs-12">
        @await Html.PartialAsync("_GeneralNotePartial")
        @await Html.PartialAsync("_Step2Partial")
    </div>
</div>

<div class="row ">
    <div class="col-xs-12">
        <div class="ok-message">
            <h4>Education Credits: @Model.EducationCredits</h4>
            <h4>Businesses Credits: @Model.BusinessesCredits</h4>
        </div>
    </div>
    <div class="col-xs-12">
        @if (Model != null)
        {
            @if (Model.ErrorMessage != null)
            {
                <div class="error-message">
                    <h4>Submit error:</h4>
                    @Model.ErrorMessage
                </div>
            }
            else if (Model.ScanId != null)
            {
                <div class="ok-message">
                    <h4>Scan '@Model.ScanId' created</h4>
                </div>
            }
        }

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="margin:0px;">
                    Submit Text
                </h3>
            </div>
            <div class="panel-body">
                <form action="/submit" method="post">
                    <div>
                        <label for="token">Server generated token:</label>
                        <textarea rows="4" name="token" id="token" readonly class="form-control">@Model.Token</textarea>
                    </div>
                    <hr />
                    <div style="margin-top: 20px;">
                        <label>Product:</label>
                        @Html.DropDownList("Product",new SelectList(
                                        new eProduct[]{
                                        eProduct.Education,
                                        eProduct.Businesses
                                        }),new { @class = "form-control" })
                    </div>
                    <div style="margin-top: 20px;">
                        <label for="text">The text to scan:</label>
                        <textarea rows="4" name="text" id="text" placeholder="Write a free text to scan" class="form-control">Hello world!</textarea>
                    </div>
                    <div style="margin-top: 20px;">
                        <label><input type="checkbox" name="Sandbox" value="true" checked> Sandbox</label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary" type="Submit" style="margin-top: 30px;">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>