@*********************************************************************************
The MIT License(MIT)

Copyright(c) 2016 Copyleaks LTD (https://copyleaks.com)

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*********************************************************************************@

@using Copyleaks.SDK.V3.API.Models.Types;
@model Copyleaks.SDK.Demo.Models.Responses.SubmitResponse
@{
    ViewData["Title"] = "Copyleaks API test";
}

<div class="row ">


    <div class="col-xs-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                Step 2: Submit Text
            </div>
            <div class="panel-body">
                <form action="/submit" method="post">


                    <div>
                        <label for="token">Token:</label>
                        <textarea rows="4" name="token" id="token" readonly class="form-control">@Model.Token</textarea>
                        @*@if (Model != null && Model.Token != null)
                            {
                                <textarea rows="4" name="token" id="token" readonly class="form-control">@Model.Token</textarea>
                            }
                            else
                            {
                                <input name="token" id="token" type="text" readonly value="Not set yet" class="form-control" />
                            }*@

                    </div>
                    <div style="margin-top: 20px;">
                        <label>Product:</label>
                        @Html.DropDownList("Product",new SelectList(
                                        new eProduct[]{
                                        eProduct.Education,
                                        eProduct.Businesses,
                                        eProduct.Websites
                                        }),new { @class = "form-control" })
                    </div>
                    <div style="margin-top: 20px;">
                        <label><input type="checkbox" name="Sandbox" value="true" checked> Sandbox</label>
                    </div>
                    <div style="margin-top: 20px;">
                        <label for="text">The text to scan:</label>
                        <textarea rows="4" name="text" id="text" placeholder="Write your text here" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-primary" type="Submit" style="margin-top: 30px;">Submit</button>
                </form>
                @if (Model != null)
                {
                    @if (Model.ErrorMessage != null)
                    {
                        <div class="error-message">
                            <h4>Submit error:</h4>
                            @Model.ErrorMessage
                            @if (Model.CopyleaksErrorCode.HasValue)
                            {
                                <div>
                                    Copyleaks error code: @Model.CopyleaksErrorCode.Value
                                </div>

                            }

                        </div>
                    }
                    else if (Model.ScanId != null)
                    {
                        <div class="ok-message">
                            <h4>Scan '@Model.ScanId' created</h4>

                        </div>
                    }
                }

            </div>
        </div>

    </div>
</div>